@media (max-width: 32.4em)
{
    h1, h2, p, li {
        font-size: smaller;
    }

    body {
        grid-template-columns: repeat(5, 50px);
    }

    header img {
        width: 50px;
        height: 60px;
    }
}