@media (max-width: 32.4em)
{


    h1, h2 {
        font-size: 18px;
    }

    body {
        grid-template-columns: repeat(5, 50px);
    }

    header img {
        width: 60px;
        height: 70px;
    }
}