@media only screen and (min-width: 75em)
{
    h1, h2, h3 {
        font-family: 'Anton', sans-serif;
        font-weight: normal;
        font-size: 26pt;
    }
    
    p, li {
        font-family: 'Changa', sans-serif;
        font-size: 18pt;
    }

    body {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        justify-self: center;
        justify-content: center;
    }

    .header {
        width: 100%;
        grid-template-rows: 1fr .25fr .25fr;
        grid-template-columns: 20% 60% 10% 10%;
    }

    .header img {
        max-width: 150px;
    }

    .header h1 {
        text-align: center;
    }

    .menu-icon button {
        display: none;
    }

    .social {
        padding-top:30px;
    }

    .current-date {
        grid-column: 2;
        width: 50%;
        justify-self: center;
        align-content: center;
    }

    nav {
        grid-column: 1/5;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-content: center;
        padding: 0;  
    }

    .navigation li {
        padding-left: 50px;
        padding-right: 50px;
        list-style: none;
        background-color: #053d63;
    }

    .navigation a {
        text-decoration: none;
        color: white;
    }

    main {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .home-grid {
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 250px 250px 250px;
    }

    .hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .news-release { 
        grid-row: 3;
        grid-column: 2;
    }

    .event {
        grid-row: 1;
        grid-column: 1;
    }

    .weather {
        grid-row: 2;
        grid-column: 1;
    }

    .join {
        display: block;
        grid-row: 3;
        grid-column: 1;
    }

    .spotlights {
        grid-row: 1/4;
        grid-column: 3;

        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 100%;
    }

    .spotlight-1 {
        grid-row: 1;
        grid-column: 1;
        margin: 10px;
    }

    .spotlight-2 {
        grid-row: 2;
        grid-column: 1;
        margin: 10px;
    }

    .spotlight-3 {
        display: block;
        grid-row: 3;
        grid-column: 1;
        margin: 10px;
    }
}