@media only screen and (min-width: 37.5em) {
    
    h1, h2, h3 {
        font-family: 'Anton', sans-serif;
        font-weight: normal;
        font-size: 18pt;
    }
    
    p, li {
        font-family: 'Changa', sans-serif;
        font-size: 16pt;
    }

    body {
        width: 100%;
        margin:auto;
    }
    
    .header {
        width: 100%;
        grid-template-rows: 100px 100px;
    }
    .header img {
        max-width: 100px;
    }

    .social img {
        max-width: 35px;
        display: inline-block;
        margin-bottom: auto;
    }

    .menu-button {
        width: 100%;
        height: 100%;
    }

    .menu-button img {
        width: 75px;
    }

    .responsive {
        top: 10%;
    }
    
    .home-grid {
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 400px repeat(3, 200px);
    }

    .hero {
        grid-column: 1/3;
        grid-row: 1;
    }

    .hero img {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }

    .weather img {
        height: 60px;
        width: 60px;
    }

    .news-release { 
        grid-row: 2;
        grid-column: 1/3;
    }

    .news-release p {
        font-size: 10pt;
    }

    .spotlights {
        grid-row: 3;
        grid-column: 1/3;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        padding: 0;
    }

    .spotlight-1 {
        grid-column: 1;
        grid-row: 1;
        margin: 10px;
    }

    .spotlight-2 {
        grid-column: 2;
        grid-row: 1;
        margin: 10px;
    }

    .spotlight-3 {
        display: none;
        background-color:lightgray;
        padding: 10px;
        color:white;
    }

    .event {
        grid-row: 4;
        grid-column: 1/2;
        line-height: 1em;
    }

    .weather {
        grid-row: 4;
        grid-column: 2/3;
    }

    footer {
        height: 320px;
    }

    footer p {
        padding: 0;
        margin: 0;
    }


    /*#region Discover Page*/
    .last-visit {
        background-color: var(--DarkBlue);
        text-align: center;
        width: 60%;
        margin:0 auto;
    }

    .discover-grid {
        display: grid;
        margin-top: 50px;
        margin-bottom:50px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 500px);
        grid-gap: 25px;
    }

    .discover-grid img {
        transition: .5s;
    }

    .discover-grid img:hover {
        transform: scale(1.1);
        transition: .5s;
    }

    .one {
        grid-column: 1;
        grid-row: 1;

        text-align: center;

        background-color: var(--DarkBlue);
        padding: 10px;
        border: 5px solid var(--LightBlue);
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .two {
        grid-column: 2;
        grid-row: 1;

        text-align: center;

        background-color: var(--DarkBlue);
        padding: 10px;
        border: 5px solid var(--LightBlue);
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }


    .three {
        grid-column: 3;
        grid-row: 1;

        text-align: center;

        background-color: var(--DarkBlue);
        padding: 10px;
        border: 5px solid var(--LightBlue);
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }


    .four {
        grid-column: 1;
        grid-row: 2;

        text-align: center;

        background-color: var(--DarkBlue);
        padding: 10px;
        border: 5px solid var(--LightBlue);
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .five {
        grid-column: 2;
        grid-row: 2;

        text-align: center;

        background-color: var(--DarkBlue);
        padding: 10px;
        border: 5px solid var(--LightBlue);
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .six {
        grid-column: 3;
        grid-row: 2;

        text-align: center;

        background-color: var(--DarkBlue);
        padding: 10px;
        border: 5px solid var(--LightBlue);
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .seven {
        grid-column: 1;
        grid-row: 3;

        text-align: center;

        background-color: var(--DarkBlue);
        padding: 10px;
        border: 5px solid var(--LightBlue);
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .eight {
        grid-column: 2;
        grid-row: 3;

        text-align: center;

        background-color: var(--DarkBlue);
        padding: 10px;
        border: 5px solid var(--LightBlue);
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .nine {
        grid-column: 3;
        grid-row: 3;

        text-align: center;

        background-color: var(--DarkBlue);
        padding: 10px;
        border: 5px solid var(--LightBlue);
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    /*#endregion Discover Page*/

    /*#region Directory Page*/
    .dir-buttons {
        margin: 20px;
        text-align: center;
    }

    .dir-buttons button {
        margin-top: 20px;
        text-align: center;
        background-color: var(--LightBlue);
        color: white;
        border-color: white;
        border-radius: 20px;
        font-family: 'Changa', sans-serif;
        width:100px;
        height: 50px;
    }

    .directory-display {
        display: flex;
        margin: 20px;
    }

    .dir-cards {
        width: 100%;
        background-color: var(--DarkBlue);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, minmax(0px, 1fr));
        text-align: center;
    }

    .dir-card img {
        align-self: center;
        max-width: 100%;
    }

    .dir-cards-hidden {
        display: none;
    }

    .dir-card {
        min-width: 100px;
        background-color: var(--LightBlue);
        margin:20px;
        padding: 10px;
    }

    .dir-card p {
        font-size: smaller;
    }

    .dir-list {
        margin:auto;
        background-color: var(--DarkBlue);
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .dir-list-hidden {
        display: none;
    }

    .dir-list-item {
        background-color: var(--LightBlue);
        margin:20px;
        max-height: 100px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
        align-items: center;
        text-align: center;
    }

    .dir-list-item .dir-url {
        display: inline;
        font-size: 6pt;
        width: 50%;
        overflow: hidden;
    }

    .dir-list-item h3 {
        font-size: smaller;
    }

    .dir-list-item p {
        font-size: small;
    }
    /*#endregion Directory Page*/
}