@media only screen and (min-width: 37.5em) {
    
    h1, h2, h3 {
        font-family: 'Anton', sans-serif;
        font-weight: normal;
        font-size: 18pt;
    }
    
    p, li {
        font-family: 'Changa', sans-serif;
        font-size: 16pt;
    }

    body {
        width: 100%;
        margin:auto;
    }
    
    .header {
        width: 100%;
        grid-template-rows: 100px 100px;
    }
    .header img {
        max-width: 100px;
    }

    .social img {
        max-width: 35px;
        display: inline-block;
        margin-bottom: auto;
    }

    .menu-button {
        width: 100%;
        height: 100%;
    }

    .menu-button img {
        width: 75px;
    }

    .responsive {
        top: 10%;
    }
    
    .home-grid {
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 400px repeat(3, 200px);
    }

    .hero {
        grid-column: 1/3;
        grid-row: 1;
    }

    .news-release { 
        grid-row: 2;
        grid-column: 1/3;
    }

    .news-release p {
        font-size: 10pt;
    }

    .spotlights {
        grid-row: 3;
        grid-column: 1/3;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        padding: 0;
    }

    .spotlight-1 {
        grid-column: 1;
        grid-row: 1;
        margin: 10px;
    }

    .spotlight-2 {
        grid-column: 2;
        grid-row: 1;
        margin: 10px;
    }

    .spotlight-3 {
        display: none;
        background-color:lightgray;
        padding: 10px;
        color:white;
    }

    .event {
        grid-row: 4;
        grid-column: 1/2;
        line-height: 1em;
    }

    .weather {
        grid-row: 4;
        grid-column: 2/3;
    }

    footer {
        height: 320px;
    }

    footer p {
        padding: 0;
        margin: 0;
    }
}