.cards {
    text-align: center;
    background-color: lightblue;
    width: 30%;
    margin: auto;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    background-color: lightblue;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-name {
    font-size: 34pt;
    font-weight: bold;
    padding: 20px;
}

.artist {
    font-size: 26pt;
    font-weight: bold;
    padding: 20px;
}